PROXY_PORT=3000
PROXY_USER=admin
PROXY_PASS=secret
SCADA_BASE_URL=http://localhost:10008
SCADA_USERNAME=admin
SCADA_PASSWORD=secret
SCADA_ARCHIVEBIT_THRESHOLD=24
SCADA5_BASE_URL=http://localhost/grafanadataprovider
